# Data Cleansing of Amazon Fashion Sales

This is a Jupyter Notebook for Data Cleansing based on dataset `products.csv`.

**Objective:** Process the dataset and create a new dataset more intuitive and clean for analysis and model train.

## Step 1: Read Dataset

First, we have to import the lib `pandas`. After, read dataset with `pandas.read_csv()` and shows first 5 rows of dataset.

In [32]:
# --- Imports ---
import pandas as pd

# Read csv
try:
    df = pd.read_csv("../data/raw/products.csv", sep=",")
except FileNotFoundError:
    print("Dataset not found.")
    
# Shows first 5 rows
df.head()

,product_id,brand,title,price,category,rating,image_url,product_url
0,B08YRWN3WB,JANSPORT,Big Student Large laptop backpack Black EK0A5B...,189.00,New season,4.7,https://m.media-amazon.com/images/I/51y2EF0OmO...,https://www.amazon.ae/dp/B08YRWN3WB
1,B08YRXFZZM,JANSPORT,Superbreak Day Pack,119.00,New season,4.6,https://m.media-amazon.com/images/I/51yvvQUs3S...,https://www.amazon.ae/dp/B08YRXFZZM
2,B09Q2PQ7ZB,BAODINI,Mini Travel Umbrella With Case Small Compact U...,17.79,New season,4.2,https://m.media-amazon.com/images/I/71WbrZPbnG...,https://www.amazon.ae/dp/B09Q2PQ7ZB
3,B001BEAWXY,Calvin Klein,Men's Cotton Classics 3-Pack Boxer Brief,119.00,New season,4.2,https://m.media-amazon.com/images/I/716vzeqa7Z...,https://www.amazon.ae/dp/B001BEAWXY
4,B09FM5PMN3,JANSPORT,Unisex Kids Bag Backpack,179.00,New season,4.4,https://m.media-amazon.com/images/I/51XASBuqjr...,https://www.amazon.ae/dp/B09FM5PMN3

## Step 2: Discover if Dataset is Clean or Not

For this, we use `.info()` and `.isnull()/.duplicated()` to see the dataset informations and null rows/duplicated rows. `.sum()` is to observes the quantify of rows with those conditions.

In [33]:
# Shows columns info
print("--- Columns Info ---")
df.info()

# Shows quantify of rows per column with null
print("\n--- Quantify of Null Rows per Column ---")
print(df.isnull().sum())

# Shows quantify of duplicated rows
print("\n--- Quantify of Duplicated Rows ---")
print(df.duplicated().sum())

--- Columns Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13156 entries, 0 to 13155
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   13156 non-null  object
 1   brand        13155 non-null  object
 2   title        13155 non-null  object
 3   price        12963 non-null  float64
 4   category     13156 non-null  object
 5   rating       12273 non-null  float64
 6   image_url    13156 non-null  object
 7   product_url  13156 non-null  object
dtypes: float64(2), object(6)
memory usage: 822.4+ KB

--- Quantify of Null Rows per Column ---
product_id       0
brand            1
title            1
price          193
category         0
rating         883
image_url        0
product_url      0
dtype: int64

--- Quantify of Duplicated Rows ---
667

## Step 3: Clean Dataset

Here, we clean the dataset removing the null rows and duplicated rows (`.dropna()/.drop_duplicates()`). Drop the columns with link. At end, shows the dataset after cleaner.

In [34]:
# Deletes all rows with null on any column
df.dropna(inplace=True)

# Deletes all duplicated rows
df.drop_duplicates(inplace=True)

# Deletes columns with link
df.drop(columns=['image_url', 'product_url'], inplace=True)

# Captures the 50 largests brands
top_brands = df['brand'].value_counts().nlargest(25).index

# Modify the brands that are not in top_brands
df['brand'] = df['brand'].where(df['brand'].isin(top_brands), 'Other')

# Sort values by title
df.sort_values('title', inplace=True)

print("--- Columns Info ---")
df.info()

--- Columns Info ---
<class 'pandas.core.frame.DataFrame'>
Index: 11520 entries, 843 to 6948
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  11520 non-null  object
 1   brand       11520 non-null  object
 2   title       11520 non-null  object
 3   price       11520 non-null  float64
 4   category    11520 non-null  object
 5   rating      11520 non-null  float64
dtypes: float64(2), object(4)
memory usage: 630.0+ KB

## Step 4: Save New Dataset

Last, save processed dataset in different path (`processed`) for future analysis and model train.

In [35]:
# Save a new dataset
try:
    df.to_csv("../data/processed/products_clean.csv", sep=";", index=False, encoding="utf-8")
except Exception as e:
    print(f"An error occurred: {e}")
    
print("New dataset saved with success!")
# Shows the dataset after cleaner
df.head()

New dataset saved with success!

,product_id,brand,title,price,category,rating
843,B00N1997B0,GUESS,"""Basic G Logo Heart Link Bracelet, One Size, O...",49.00,New season,4.2
6989,B09C1ZH9NH,Other,"""Contemporary Kundan Collection"" Indian Bollyw...",32.29,Outlet,4.1
12338,B087Q5LS5W,Other,'ChainsHouse Stainless Steel Cuban Link Bracel...,76.98,Accessories,4.4
12936,B09GY81DSV,Other,'Dankadi Men 925 Sterling Silver Bracelet Fash...,173.06,Accessories,3.6
13142,B09JJNXNGV,Other,'H&Beautimer Punk Men Box chain Bracelet 925 S...,204.28,Accessories,4.8